{% extends 'base.html' %}
{% block deploy %}active{% endblock %}
{% block content %}

{% if error is not none %}
    <div class="alert alert-danger">
        <strong>{{ error }}</strong>
    </div>
{% endif %}

<div class="row">

    <div class="col-5 col-md-3 offset-md-1 mt-3 mr-2">
        <h3>Queue</h3>
        <div class="list-group">
            {% if task_queue %}
                {% for task in task_queue %}
                    <a href="{{ url_for('deploy') }}?task={{ task[2] }}" class="list-group-item list-group-item-action {% if task[2] == task_selected[2] %} active {% endif %}">
                    <b>{{ task[2] }}</b> <i>({{ task[0] }})</i>
                    </a>
                {% endfor %}
            {% else %}
                No tasks are in the queue.
            {% endif %}
        </div>

        <br>
        <h3>History</h3>
        <div class="list-group">
            {% if task_history %}
                {% for task in task_history %}
                    <a href="{{ url_for('deploy') }}?task={{ task[2] }}" class="list-group-item list-group-item-action {% if task[2] == task_selected[2] %} active {% endif %}">
                    <b>{{ task[2] }}</b> <i>({{ task[0] }})</i>
                    {% if task[4] == 1 %}
                        <i data-feather="check"></i>
                    {% elif task[4] == 2 %}
                        <i data-feather="x"></i>
                    {% else %}
                        <i data-feather="help-circle"></i>
                    {% endif %}
                    </a>
                {% endfor %}
            {% else %}
                No tasks have been run.
            {% endif %}
        </div>
        <!-- Task add -->
        <form class="mt-2" method="GET" action="{{ url_for('deploy') }}">
            <input type="submit" class="btn btn-sm btn-success" value="New Task">
        </form>
        <br>
    </div>

    <div class="col-7 mt-2">
    
        <!-- Deploy name and Delete button --> 
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <h1><b>{{ task_name }}</b></h1>
                </div>
                {% if task_selected[0] and task_selected[4] == 0 %}
                <div class="col">
                    <form method="POST" action="{{ url_for('deploy') }}">
                        <input type="hidden" id="name" name="name" value="{{ task_selected[2] }}"/>
                        <input type="submit" style="margin-top:10px;" class="btn btn-sm bg-danger text-white" id="action" name="action" value="Delete"/>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <br>
        
        <!-- Deploy add form -->
        <form method="POST" action="{{ url_for('deploy') }}">
        
            {{ form.name.label }}
            {% if not task_selected[0] %}
                {{ form.name(size=32, class_="form-control form-control-sm", pattern="[a-zA-Z0-9]*", title="Must contain only alphanumerics", value=task_selected[2]) }}
            {% else %}
                {{ form.name(size=32, class_="form-control form-control-sm", disabled="disabled", pattern="[a-zA-Z0-9]*", title="Must contain only alphanumerics", value=task_selected[2]) }}
            <input type="hidden" value="{{ task_selected[2] }}" name="name" id="name">
            {% endif %}
            
            <br>
            {{ form.vapp.label }}
             {% if task_selected[0] %}
                {% if task_selected[4] == 0 %}
                    {{ form.vapp(class_="form-control form-control-sm", value=task_selected[3]["vapp_name"]) }}
                {% else %}
                    {{ form.vapp(class_="form-control form-control-sm",  value=task_selected[0], disabled="disabled") }}
                {% endif %}
            {% else %}
                {{ form.vapp(class_="form-control form-control-sm") }}
            {% endif %}
            <br>
            {{ form.deploy_time.label }}
            {% if task_selected[0] %}
                {% if task_selected[4] == 0 %}
                    {{ form.deploy_time(class_="form-control form-control-sm",  value=task_selected[0]) }}
                {% else %}
                    {{ form.deploy_time(class_="form-control form-control-sm",  value=task_selected[0], disabled="disabled") }}
                {% endif %}
            {% else %}
                {{ form.deploy_time(class_="form-control form-control-sm") }}
            {% endif %}
            <br>
            {% if task_selected[0] %}
                {% if task_selected[4] == 0 %}
                    Current list to deploy to is <b>{{ task_selected[3]["list"] }}</b>.
                {% else %}
                    vApp was deployed to <b>{{ task_selected[3]["list"] }}</b>.
                {% endif %}
                <br>
            {% endif %}
            {{ form.deploy_list.label }}
            {% if task_selected[0] %}
                {% if task_selected[4] == 0 %}
                    {{ form.deploy_list(class_="form-control form-control-sm",  value=task_selected[0]) }}
                {% else %}
                    {{ form.deploy_list(class_="form-control form-control-sm",  value=task_selected[0], disabled="disabled") }}
                {% endif %}
            {% else %}
                {{ form.deploy_list(class_="form-control form-control-sm") }}
            {% endif %}
            {% if not task_selected[0] %}     
                <br>
                <input type="submit" class="btn btn-sm btn-success" id="action" name="action" value="Add"/>
            {% elif task_selected[4] == 0 %}
                <br>
                <input type="submit" class="btn btn-sm btn-success" id="action" name="action" value="Update"/>  
            {% endif %}
        </form>
        
    </div>
</div>

{% endblock %}
