{% extends 'base.html' %}
{% block deploy %}active{% endblock %}
{% block content %}

{% if error is not none %}
    <div class="alert alert-danger">
        <strong>{{ error }}</strong>
    </div>
{% endif %}

<div class="row">

    <div class="col-4 col-md-3 offset-md-1">
        <h2>Queue</h2>
        <div class="list-group">
            {% for task in tasks %}
                <a href="{{ url_for('deploy') }}?task={{task}}" class="list-group-item list-group-item-action {% if name == list_name %} active {% endif %}">
                {{ task }}
                </a>
            {% endfor %}
        </div>
        
    </div>

    <div class="col-7 offset-1 mt-2">
    
        <!-- Deploy name and delete Button --> 
        {% if task_name != "Create a new task..." %} 
        <form method="POST" action="{{ url_for('deploy') }}">
            <input type="hidden" id="list_name" name="list_name" value="{{ task_name }}"/>
            <input type="submit" style="margin-top:10px;" class="btn btn-sm bg-danger text-white" id="action" name="action" value="Delete"/>
        </form>
        <br>
        {% endif %}
        <h1><b>{{ task_name }}</b></h1>
        <br>
        
        <!-- Deploy add form -->
        <form method="POST" action="{{ url_for('deploy') }}">
            {{ form.name.label }}
            {{ form.name(size=32, class_="form-control form-control-sm", pattern="[a-zA-Z0-9]*", title="Must contain only alphanumerics") }}
            <br>
            {{ form.vapp.label }}
            {{ form.vapp(class_="form-control form-control-sm") }}
            <br>
            {{ form.deploy_time.label }}
            {{ form.deploy_time(class_="form-control form-control-sm") }}
            <br>
            {{ form.deploy_list.label }}
            {{ form.deploy_list(class_="form-control form-control-sm") }}
            <br>
            <input type="submit" class="btn btn-sm btn-success" id="action" name="action" value="Add"/>
        </form>
        
        data about task
        
    </div>
</div>

{% endblock %}
